 @page
@model NalinTransactionStoreAndRetrieval.Pages.ViewTransactionsModel
@{
}
<h2>View Transactions</h2>

<form method="post">
    <label for="SelectedValue">Select currency for conversion:</label>

    <select asp-for="SelectedCountryCurrency" asp-items="Model.CountryCurrencyList" class="form-control">
    </select>
    
    <button type="submit">Change currency</button>
</form>

<p>Transactions:</p>

<table class="transactionTable">
    <thead>
        <tr>
            <th>Identifier &nbsp;</th>
            <th>Message &nbsp;</th>
            <th>Date time &nbsp;</th>
            <th>Description &nbsp;</th>
            <th>USD Amount &nbsp;</th>
            <th>Conversion rate &nbsp;</th>
            <th>Converted Amount</th>
            <!-- Add other table headers for your properties -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DisplayData)
        {
            <tr>
                <td>@item.ID &nbsp;</td>
                <td>@item.Message &nbsp;</td>
                <td>@item.DateTime &nbsp;</td>
                <td>@item.Description &nbsp;</td>
                <td class="alignRight">@item.OriginalAmount &nbsp;</td>
                <td class="alignRight">@item.CurrencyRate &nbsp;</td>
                <td class="alignRight">@item.ConvertedAmount &nbsp;</td>
            </tr>
        }
    </tbody>
</table> 